extends ../layout

block content
  .container
    // 商品信息(图片什么的)
    .good-mask(style='background-image:url(#{goods.goodsImg});background-size:cover')
    // 商品详情
    .good-details
      h4.good-name #{goods.goodsName}
      .good-stat
        label 商品简介：
          p #{goods.goodsStat}
      .good-area
        span 商品产地：#{goods.goodsarea.areaLocation}
      .good-price
        span.last-price 上次价格：#{goods.goodsLastPrice}元 #{goods.goodsPriceUnit}
        span.now-price.pull-right 现在价格：#{goods.goodsNowPrice}元 #{goods.goodsPriceUnit}
      .good-discount
        span 商品折扣：#{goods.goodsDiscount*100}%
    button.btn.btn-default.btn-block(style='margin-top: 30px;', onclick='openAdd2Cart()') 购买
  script(type='text/javascript', src='/plugins/jquery/2.2.3/jquery.min.js')
  script(type='text/javascript', src='/plugins/layer/layer.js')
  script.
    function openAdd2Cart(){
      layer.open({
        type: 1,
        area: ['768px', '200px'],
        title: '添加到购物车',
        content: '<div class="item-add2cart row"><div class="item-add2cart-img col-xs-3"><img src="#{goods.goodsImg}" alt=""></div><div class="cart-item-description col-xs-6"><div class="cart-item-des-title">#{goods.goodsName}</div><div class="cart-item-des-price" id="priceBox">￥#{goods.goodsNowPrice}</div></div><div class="col-xs-3"><div class="cart-item-right"><div class="input-group"><span class="input-group-btn"><button class="btn btn-default" type="button" onclick="sub()">-</button></span> <input type="tel" id="priceInput" class="form-control" id="numInput" value="1" disabled> <span class="input-group-btn"><button class="btn btn-default" type="button" onclick="add()">+</button></span></div><div class="item-add2cart-btn"><button class="btn btn-default" onclick="add2cart()">添加到购物车</button></div></div></div></div>' //这里content是一个普通的String
      });
    }
    var price = #{goods.goodsNowPrice};
    function sub(){
      var val = $('#priceInput').val();
      if(!val.match(/[1-9]/)) val = 2;
      if(val < 2) val = 2;
      $('#priceInput').val(--val);
      $('#priceBox').html('￥' + (price * val).toFixed(2));
    }
    function add(){
      var val = $('#priceInput').val();
      if(!val.match(/[1-9]/)) val = 0;
      if(val > 8) val = 8;
      $('#priceInput').val(++val);
      $('#priceBox').html('￥' + (price * val).toFixed(2));
    }
    function add2cart(){
      $.ajax({
        url: '/ajax',
        method: 'post',
        dataType: 'json',
        data: {
          func: 'add2cart',
          goodsId: '#{goods.goodsId}',
          goodsNum: $('#priceInput').val()
        },
        success: function(data){
          layer.msg(data.Msg);
        },
        error: function(){
          window.location.href = '/signin';
        }
      })
    }
