extends ../layout

block content
  .container
    .mask
      .head-box
        .head-pic-box
          // src放用户头像url
          img(src='#{userData.userImg}', alt='头像')
        // 用户名
        span #{userData.userNickname}
    .user-item-container
      .user-item
        a(href='/user/#{userData.userId}/orders')
          span.user-item-text 订单
      .user-item
        a(href='/user/#{userData.userId}/cart')
          span.user-item-text 购物车
      .user-item
        a(href='/user/#{userData.userId}/data')
          span.user-item-text 个人资料
      .user-item
        a(href='#')
          span.user-item-text 消息通知
